@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    @Html.AntiForgeryToken()
    
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success">@TempData["Message"]</div>
    }

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <label asp-for="NewUser.Name">Name</label><br />
    <input type="text" asp-for="NewUser.Name" /><br />
    <span asp-validation-for="NewUser.Name" class="text-danger"></span><br />

    <label asp-for="NewUser.Password">Password</label><br />
    <input type="password" asp-for="NewUser.Password" /><br />
    <span asp-validation-for="NewUser.Password" class="text-danger"></span><br />

    <input type="submit" value="Log in" />
</form>
