@page
@model AskeOgViktorProjekt.Areas.Identity.Pages.Account.LogoutModel

<form method="post">
    @Html.AntiForgeryToken()
    <p>Are you sure you want to log out?</p>
    <button type="submit">Log out</button>
</form>
