@page
@model AskeOgViktorProjekt.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <label asp-for="NewUser.Name">Name</label><br />
    <input type="text" asp-for="NewUser.Name" /><br />
    <span asp-validation-for="NewUser.Name" class="text-danger"></span><br />

    <label asp-for="NewUser.Password">Password</label><br />
    <input type="password" asp-for="NewUser.Password" /><br />
    <span asp-validation-for="NewUser.Password" class="text-danger"></span><br />

    <input type="submit" value="Register" />
</form>
