@page
@model AskeOgViktorProjekt.Pages.Images
@{
    ViewData["Title"] = "Images";
}

<h1>@ViewData["Title"]</h1>

<div>
        <form>
            <input type="file" id="myFile" name="filename">
            <input type="submit">
        </form>
</div>