@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>Welcome to the site. To register a new account please use the <a asp-area="Identity" asp-page="/Account/Register">Register</a> page.</p>