@page
@model AskeOgViktorProjekt.Pages.UsersModel
@{
    ViewData["Title"] = "All Registered Users";
}



@if (Model.Users == null || !Model.Users.Any())
{
    <p>No users have been registered yet.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Password (Hashed/Hidden in real apps)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Password</td>
                </tr>
            }
        </tbody>
    </table>
}
